body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em; /* 100% =16px */
    text-align: center;

}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 5.625rem;
    width: 50%;
    margin: 0 auto;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}